<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WELCOME TO MY PORTFOLIO</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="a1">
            <h1>Đinh Hoàng Ân</h1>
            <p>Mã số sinh viên : DH42203686</p>
            <p>Github :<a href="https://github.com/AuthurS1"> My Github </a> Come and see </p>
            <img src="https://images7.alphacoders.com/132/1329443.jpg" alt= " FAVORITE ANIME " width="50%" />
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>